<div class="card">
    <h2>Dog: Loyalty</h2>
    <img src="images/smpuppy.jpg" alt="dog" title="Animal Spirit: Dog" />
    <p>
        These noble animals would often give warning signals of approaching danger. They helped in the hunt and were a great source of warmth on long winter nights. Since the canine tribe has many breeds, early Indian Dogs were usually half- wild. This wildness,
        however, never divested the owners of their Dog's innate loyalty.
    </p>
    <p>
        Dog has been considered the servant of humanity throughout history. If a person carries Dog medicine, he or she is usually serving others or humanity in some way. Here you will find the charity worker, the philanthropist, the nurse, the counselor, the
        minister, and the soldier.
    </p>
    <p>
        Dog was the servant-soldier that guarded the tribe's lodges from surprise attack. Dog is a medicine that embodies the loving gentleness of best friend and the half-wild protector energy of territorial imperative. Like Anubis, the jackal dog protector
        of Egypt, Dog is a guardian. Throughout history, Dog has been the guardian of hell, as well as of ancient secrets, hidden treasures, and babies - while mothers were cooking or in the fields. Dog honors its gifts and is loyal to the trust placed
        in its care.
    </p>
    <p>
        In examining Dog medicine, you might find that you have fond personal memories of owning and loving Dog as a pet. The message that Dogs are trying to give you is that you must delve deeply into your sense of service to others. Canines are genuinely service-oriented
        animals, and are devoted to their owners with a sense of loyalty that supersedes how they are treated.
    </p>
    <p>
        If Dog has been yelled at or paddled, it still returns love to the person who was the source of its bad treatment. This does not come from stupidity, but rather from a deep and compassionate understanding of human shortcomings. It is as if a tolerant
        spirit dwells in the heart of every canine that asks only to be of service.
    </p>
    <p>
        You can also see Dogs that have had the loyalty beaten out of them. They cower and cry at the slightest look of disapproval, but this is not their normal nature. Some varieties of Dogs have even been trained against their natures to be brutal and vicious.
        Out of a sense of service, these breeds have adopted the attack-oriented desires of their owners. They carry an altered genetic memory of what service means if they are to be approved of by their masters.
    </p>
    <p>
        Dog medicine asks you to look at how readily your sense of loyalty is countermanded by your need for approval. If you have pulled the Dog card, there are several questions you need to consider, depending on the situation about which you are asking. (1)
        Have I recently forgotten that I owe my allegiance to my personal truth in life? (2) Is it possible that gossip or the opinions of others have jaded my loyalty to a certain friend or group? (3) Have I denied or ignored someone who is trying to
        be my loyal friend? (4) Have I been loyal and true to my goals?
    </p>

</div>
