<div class="card">
    <h2>Buffalo: Abundance</h2>
    <img src="images/smbuffalo.jpg" alt="buffalo" title="Animal Spirit: Buffalo" />
    <p>
        In the Lakota tradition it was the White Buffalo Calf Woman who brought the sacred pipe to the people and taught them to pray. The bowl of the pipe was the receptacle that held tobacco, an herb with male and female medicine. The seeding life. In the coming
        together of male and female, the connection to the divine energy of the Great Spirit was made. As the pipe was loaded with Tobacco, every family in nature was asked to enter into the pipe and share its medicine as prayer and praise to the heavens.
        The smoke was considered to be visual prayer, and was very sacred and cleansing.
    </p>
    <p>
        All animals are sacred, but in many traditions White Buffalo is most sacred. The appearance of White Buffalo is asign that prayers are being heard, that the sacred pipe is being honored, and that the promises of prophesy are being fulfilled. White Buffalo
        signals a time of abundance and plenty.
    </p>
    <p>
        Buffalo was the major source of sustenance for the Plains Indians. It gave meant for food, hides for clothing, warm and soft robes for long winters, and hooves for glue. The medicine of Buffalo is prayer, gratitude and praise for that which has been received.
        Buffalo medicine is also knowing that abundance is present when all relations are honored as sacred, and when gratitude is expressed to every living part of creation.
    </p>
    <p>
        Because of its desire to give the gifts that its body provided, and because of its willingness to be used on Earth for the highest good before entering the hunting grounds of Spirit, Buffalo did not readily stampede and run from hunters.
    </p>
    <p>
        To use Buffalo medicine is to smoke the pipe in a sacred manner, and to give praise for the richness of life to be shared with all races, all creatures, all nations, and all life. It means smoking for others to that their needs are met, praying for the
        good of all things in harmony, and accepting the Great Mystery as part of that harmony.
    </p>
    <p>
        If you have drawn the Buffalo card, you may be asked to use your energy in prayer. You may also be called upon to be an instrument of someone else's answer to a prayer. this could portend a time of recognizing the sacredness of every walk of life, albeit
        different from your own. To honor another's pathway, even if it brings you a sadness, is a part of the message that Buffalo brings. This may be a time of reconnection to the meaning of life and the value of peace. Most assuredly this time will
        bring serenity amidst chaos if you pray in earnest for enlightenment and the power of calmness and give praise for the gifts you already have.
    </p>
    <p>
        Buffalo medicine is a sign that you achieve nothing without the aid of the Great Spirit and that you must be humble enough for that assistance and then be grateful for what you receive.
    </p>
</div>
