<div class="card">
    <h2>Dragonfly: Illusion</h2>
    <img src="images/smdragonfly.jpg" alt="dragonfly" title="Animal Spirit: Dragonfly" />
    <p>
        Dragonfly medicine is of the dreamtime and the illusionary facade we accept as physical reality. The iridescence of Dragonfly's wings reminds us of colors not found in our everyday experience. Dragonfly's shifting of color, energy, form, and movement
        explodes into the mind of the observer, bringing vague memories of a time or place where magic reigned.
    </p>
    <p>
        Some legends say that Dragonfly was once Dragon, and that Dragon had scales like Dragonfly's wings. Dragon was full of wisdom, and flew through the night bringing light with its fiery breath. The breath of Dragon brought forth the art of magic and the
        illusion of changing form. Then Dragon got caught in its own facade. Coyote tricked Dragon into changing form, and the shape of its new body became like Dragonfly's. In accepting the challenge to prove its power and magical prowess, Dragon lost
        its power.
    </p>
    <p>
        Dragonfly is the essence of the winds of change, the messages of wisdom and enlightenment, and the communications from the elemental world. This elemental world is made up of the tiny spirits of plants, and the elements air, earth, fire, and water. In
        essence, this world is full of nature spirits.
    </p>
    <p>
        If Dragonfly has flown into your cards today, you may have forgotten to water your plants. On another level, you may need to give thanks to the foods you eat for sustaining your body. On the psychological level, it may be time to break down the illusions
        you have held that restrict your actions or ideas.
    </p>
    <p>
        Dragonfly medicine always beckons you to seek out the parts of your habits which you need to change. Have you put on too much weight, or have you started to look like a scarecrow? Have you tended to the changes you have wanted to make in your life? If
        you feel the need for change, call on Dragonfly to guide you through the mists of illusion to the pathway of transformation. See how you can apply the art of illusion to your present question or situation, and remember that things are never completely
        as they seem.
    </p>

</div>
