<div class="card">
    <h2>Deer: Gentleness</h2>
    <img src="images/smdeer.jpg" alt="deer" title="Animal Spirit: Deer" />
    <p>
        One day Fawn heard Great Spirit calling to her from the top of Sacred Mountain. Fawn immediately started up the trail. She did not know that a horrible demon guarded the way to Great Spirit's lodge. The demon was trying to keep all the being of creation
        from connecting with Great Spirit. He wanted all of Great Spirit's creatures to feel that Great Spirit did not want to be disturbed. This would make the demon fell powerful, and capable of causing them to fear him.
    </p>
    <p>
        Fawn was not at all frightened when she came upon the demon. This was curious, as the demon as the archetype of all the ugly monsters that have ever been. The demon breathed fire and smoke and made disgusting sounds to frighten Fawn. Any normal creature
        would have fled or died on the spot from fright.
    </p>
    <p>
        Fawn, however, said gently to the demon, "Please let me pass. I am on the way to see Great Spirit."
    </p>
    <p>
        Fawn's eyes were filled with love and compassion for this oversized bully of a demon. The demon was astounded by Fawn's lack of fear. No matter how he tried, he could not frighten Fawn, because her love had penetrated his hardened, ugly heart. Much to
        demon's dismay, his rock-hard heart began to melt, and his body shrank to the size of a walnut. Fawn's persistent love and gentleness had caused the melt-down of the demon. Due to this gentleness and caring that Fawn embodied, the pathway is now
        clear for all of Great Spirit's children to reach Sacred Mountain without having to feel the demons of fear blocking their way.
    </p>
    <p>
        Deer teaches us to use the power of gentleness to touch the hearts and minds of wounded beings who are trying to keep us from Sacred Mountain. Like the dappling Fawn's coat, both the light and dark may be loved to create gentleness and safety for those
        who are seeking peace.
    </p>
    <p>
        If Deer has gently nudged its way into your cards today, you are being asked to find the gentleness of spirit that heals all wounds. Stop pushing so hard to get others to change, and love them as they are. Apply gentleness to your present situation and
        become like the summer breeze: warm and caring. This is your tool for solving the present dilemma you are facing. If you use it, you will connect with Sacred Mountain, your centering place of serenity, and Great Spirit will guide you.
    </p>
</div>
