<div class="card">
    <h2>Swan: Grace</h2>
    <img src="images/smswan.jpg" alt="swan" title="Animal Spirit: Swan" />
    <p>
        Little Swan flew through the Dreamtime, looking for the future. She rested for a moment in the coolness of the pond, looking for a way to find the entry point to the future. This was a moment of confusion for Swan, as she knew that she had happened into
        the Dreamtime by accident. This was her first flight alone and she was a bit concerned by the Dreamtime landscape.
    </p>
    <p>
        As Swan looked high above Sacred Mountain, she saw the biggest swirling black hole she had ever seen. Dragonfly came flying by, and Swan stopped him to ask about the black hole. Dragonfly said, "Swan, that is the doorway to the other planes of imagination.
        I have been guardian of the illusion for many, many moons. If you want to enter there, you would have to ask permission and earn the right.
    </p>
    <p>
        Swan was not so sure that she wanted to enter the black hole. She asked Dragonfly what was necessary for her to earn entry. Dragonfly replied, "You must be willing to accept whatever the future holds as it is presented, without trying to change Great
        Spirit's plan." Swan looked at her ugly little duckling body and then answered, "I will be happy to abide by Great Spirit's plan. I won't fight the cut-rents of the black hole. I will surrender to the flow of the spiral and trust what I am shown."
        Dragonfly was very happy with Swan's answer and began to spin the magic to break the pond's illusion. Suddenly, Swan was engulfed by a whirlpool in the center of the pond.
    </p>
    <p>
        Swan reappeared many days later, but now she was graceful and white and longnecked. Dragonfly was stunned! "Swan, what happened to you!" he exclaimed. Swan smiled and said, "Dragonfly, I learned to surrender my body to the power of Great Spirit and was
        taken to where the future lives. I saw many wonders high on Sacred Mountain and because of my faith and my acceptance I have been changed. I have learned to accept the state of grace." Dragonfly was very happy for Swan.
    </p>
    <p>
        Swan told Dragonfly many of the wonders beyond the illusion. Through her healing and her acceptance of the state of grace, she was given the right to enter the Dreamtime.
    </p>
    <p>
        So it is that we learn to surrender to the grace of the rhythm of the universe, and slip from our physical bodies into the Dreamtime. Swan medicine teaches us to be at one with all planes of consciousness, and to trust in Great Spirit's protection.
    </p>
    <p>
        If you pulled Swan, it ushers in a time of altered states of awareness and of development of your intuitive abilities. Swan medicine people have the ability to see the future, to surrender to the power of Great Spirit, and to accept the healing and transformation
        of their lives. The Swan card is telling you to accept your ability to know what lies ahead. If you are resisting your self transformation, relax; it will be easier if you go with the flow. Stop denying that you know who is calling when the phone
        rings. Pay attention to your hunches and your gut knowledge, and honor your female intuitive side.
    </p>

</div>
